<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="GateAttackDurationMs" value="200" />
    <add key="GateHoldDurationMs" value="500" />
    <add key="GateReleaseDurationMs" value="200" />
    <add key="PlotUpdateIntervalMs" value="500" />
    <add key="StartWindowMinimized" value="False" />
    <add key="VolumeBoost" value="3" />
    <add key="GateThreshold" value="70" />
    <add key="IgnoreSamplesWithAmplitudeBelow" value="0.1" />
  </appSettings>
</configuration>